blinker==1.6.2
click==8.1.4
colorama==0.4.6
DateTime==5.1
Flask
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
lightgbm
MarkupSafe
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
tzdata
Werkzeug
zipp
zope.interface
cloudpickle
